@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap");

.contact {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 0px 60px;
}
.contactForm {
  width: 50%;
}
.contactForm .topText {
  padding: 0px 12px;
  bottom: 0;
}
.contactForm form input,
textarea {
  background: #171f38;
  width: 90%;
  padding: 12px;
  border-radius: 12px;
  margin: 12px;
  border: none;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.textIcon {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.textIcon a {
  color: #808dad;
  font-size: 15px;
}
.contactForm .btn {
  margin-left: 40px;
  text-align: center;
  /* width: 80%; */
  margin: 12px;
}

@media screen and (max-width: 1025px) {
  .contactForm {
    width: 100%;
  }
  .contact {
    padding: 0;
    width: 100%;
  }
  .connect {
    text-align: center;
    display: block;
    margin: auto;
  }
}
